.slider {
  position: relative;
  user-select: none;
}

.slides-container {
  position: relative;
  width: 100%;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
}

.slides {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  width: 100%;
  display: inline-block;
}

.slide {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  white-space: normal;

  a {
    color: inherit;
  }
}
